.add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 200px;
}
.add input {
  border: none;
  width: 500px;
  height: 50px;
  background-color: rgb(236, 236, 236);
  color: rgb(66, 66, 66);
  font-size: 30px;
}
.add .Add-product-submit {
  border: none;
  padding: 10px 30px;
  background-color: rgb(255, 184, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(66, 66, 66);
}

.Add-product-submit:hover {
  background-color: rgb(131, 131, 131);
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .add input {
    width: 450px;
  }
  .add {
    margin: 200px auto;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .add input {
    width: 350px;
  }
  .add {
    margin: 200px auto;
  }
}
